In [3]:
import sys
import pandas as pd
import numpy as np

window = 50
sig = 2

if sig == 2:
    s = []
    for i in range(window-1,-1,-1):
        s = np.concatenate((s, [f'acc_t{i}', f'gyr_t{i}']))
    df = pd.DataFrame(np.random.uniform(0,253,size=(1, window*2)))

if sig == 6:
    s = []
    for i in range(window-1,-1,-1):
        s = np.concatenate((s, [f'acc1_t{i}', f'acc2_t{i}', f'acc3_t{i}', f'gyro1_t{i}', f'gyro2_t{i}', f'gyro3_t{i}']))
    df = pd.DataFrame(np.random.uniform(0,253,size=(1, window*6)), columns=s)

df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,73.871795,113.293161,164.836949,28.731918,246.925488,145.474781,122.593665,196.234652,20.294706,130.255212,...,41.191585,218.130616,161.689654,147.123457,28.802732,198.33371,156.309056,32.798324,36.136558,250.316956

In [4]:
print('The bytes per row with a window size of '+ str(window) +' are:', sys.getsizeof(df))

The bytes per row with a window size of 50 are: 944