In [1]:
import sys
import pandas as pd
import numpy as np

window = 50
sig = 6

if sig == 2:
    s = []
    for i in range(window-1,-1,-1):
        s = np.concatenate((s, [f'acc_t{i}', f'gyr_t{i}']))
    df = pd.DataFrame(np.random.uniform(0,253,size=(1, window*2)))

if sig == 6:
    s = []
    for i in range(window-1,-1,-1):
        s = np.concatenate((s, [f'acc1_t{i}', f'acc2_t{i}', f'acc3_t{i}', f'gyro1_t{i}', f'gyro2_t{i}', f'gyro3_t{i}']))
    df = pd.DataFrame(np.random.uniform(0,253,size=(1, window*6)), columns=s)

df

,acc1_t49,acc2_t49,acc3_t49,gyro1_t49,gyro2_t49,gyro3_t49,acc1_t48,acc2_t48,acc3_t48,gyro1_t48,...,acc3_t1,gyro1_t1,gyro2_t1,gyro3_t1,acc1_t0,acc2_t0,acc3_t0,gyro1_t0,gyro2_t0,gyro3_t0
0,32.063231,79.543641,50.345879,76.609325,238.900679,56.681205,108.348237,9.869128,31.948021,83.767343,...,93.285131,171.847097,57.287724,83.822601,23.786843,251.152894,172.750264,111.365293,67.314738,86.296939

In [2]:
print('The bytes per row with a window size of '+ str(window) +' are:', sys.getsizeof(df))

The bytes per row with a window size of 50 are: 2544